pascal/*.o
pascal/*.ppu

# output binaries
pascal/ANTOCOD
pascal/COGECONT
pascal/COORDALN
pascal/COPACONT
pascal/COPUCONT
pascal/COSUCONT
pascal/CUT_EXPL
pascal/DERICONT
pascal/DISTANT2
pascal/ENCADAJV
pascal/ENCODAV
pascal/ENCODNOM
pascal/ENCODOB2
pascal/ENCODSV
pascal/ENCODVV
pascal/ENCOGER2
pascal/ENCPART2
pascal/GETPARTI
pascal/GETSHORT
pascal/HYPOCOD
pascal/LONGCLAS
pascal/MERGEV
pascal/NAMESAP
pascal/PARCOD
pascal/SINGMUL2
pascal/SINGMUL3
pascal/SINGMUL4
pascal/SINGMUL5
pascal/SINGMULT
pascal/STATADJ
pascal/STATSUB3
pascal/STATVER
pascal/STATVER2
pascal/SUBJCONT
pascal/SYNCOD
pascal/topairs
pascal/topairs2
pascal/totrees
pascal/totrees2
